.championship-list {
	list-style-type: none;
	
	.championship-item {
		text-align: center;
		margin-top: 10px;
		cursor: pointer;

		&.selected {
			font-weight: bold;
		}
		
		.championship-logo {
			height: 120px;
			margin: 10px 0;
		}
	}
}

.team-list {
	list-style-type: none;
	
	.team-item {
		margin: 10px 0;
		text-align: center;
	}
	
	.team-logo {
		height: 60px;
	}
}