/**
 *
 * Licensed Materials – Property of IBM
 *
 * ibmda.scss
 *
 * (C) Copyright IBM Corporation 2015.
 * U.S. Government Users Restricted Rights:  Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 */

html {
	height: 100%;
	-ms-overflow-style: scrollbar;
}
body {
	padding-top: 0;
	height: 100%;
	overflow: hidden;
}
a {
	cursor: pointer;
}
section[ui-view] {
	height: 100%;
}
.overlay-bee {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;

	x1-loading-bee svg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
